<!--
	O atributo "Name" representa o nome da variável do parâmetro do método de deletar
-->

<div id="customConfirmBox" class="custom-modal-overlay">
	<div class="custom-modal-box">
		<form asp-controller="@Model.Controller" asp-action="@Model.Action" class="" method="post">
			<h2>Confirmar Exclusão</h2>
			<p class="mb-0">@Model.Message</p>
			<p class="text-danger fw-semibold mt-0">@Model.WarningMessage</p>
			<input type="hidden" name="@Model.Name" id="target" />
			<div class="custom-modal-buttons">
				<button type="button" onclick="closeConfirmBox()" class="btn btn-secondary">Cancelar</button>
				<button type="submit" class="btn btn-danger">Sim, Deletar</button>
			</div>
		</form>
	</div>
</div>

