@model ReflectionIT.Mvc.Paging.PagingList<CarQuery.Models.Carousel>

@section Styles {
	<link rel="stylesheet" href="~/css/admin/list-carousels.css" />
	<link rel="stylesheet" href="~/css/components/delete-box-confirmation.css" />
	<link rel="stylesheet" href="~/css/components/pagination.css" />
}

<div class="container">
	<h1 class="mt-4">Gerenciar carrossel</h1>
	<hr />
	<form method="get" class="form-inline">
		<div class="row col-12">
			<div class="col-8">
				<input name="filter" class="form-control" placeholder="Informe o título do carrossel que quer gerenciar" value="@Model.RouteValue["Filter"]" />
			</div>
			<div class="col-4">
				<button type="submit" class="btn btn-info">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Procurar
				</button>
			</div>
		</div>
	</form>

	<hr />

	<div class="d-flex justify-content-end mt-2">
		<vc:pager paging-list="@Model" class="pagination justify-content-center"></vc:pager>
	</div>

	@foreach (var carousel in Model)
	{
		<div class="row carousel-card mt-3 mx-2">
			<div class="d-flex align-items-center">
				<div class="col-4 col-lg-2 my-2 carousel-card-img">
					<img src="@(carousel.CarouselSlides.Count > 0 ? carousel.CarouselSlides[0].Image.ImgPath : "")">
				</div>
				<div class="col-4 ms-lg-5 ms-3">
					<p>@carousel.Title</p>
					<div class="d-flex gap-2">
						<a asp-controller="AdminCarousel" asp-action="Edit" asp-route-id="@carousel.CarouselId">Editar</a>
						||
						<a href="#" class="text-danger" onclick="openConfirmBox('@carousel.CarouselId')">Deletar</a>
					</div>
				</div>
			</div>
		</div>
	}

	<div id="customConfirmBox" class="custom-modal-overlay">
		<div class="custom-modal-box">
			<form asp-controller="AdminCarousel" asp-action="Delete" class="" method="post">
				<h2>Confirmar Exclusão</h2>
				<p>Tem certeza que deseja deletar este item? Essa ação não pode ser desfeita.</p>
				<input type="hidden" name="id" id="deleteId" />
				<div class="custom-modal-buttons">
					<button type="button" onclick="closeConfirmBox()" class="btn btn-secondary">Cancelar</button>
					<button type="submit" class="btn btn-danger">Sim, Deletar</button>
				</div>
			</form>
		</div>
	</div>

	<script>
		let carouselIdToDelete = null;

		function openConfirmBox(carouselId) {
			carouselIdToDelete = carouselId;
			document.getElementById("deleteId").value = carouselId;
			document.getElementById("customConfirmBox").style.display = "flex";
		}

		function closeConfirmBox() {
			document.getElementById("customConfirmBox").style.display = "none";
		}
	</script>

</div>


