@using CarQuery.ViewModels.AccountViewModels
@using Microsoft.AspNetCore.Identity
@model EditUserViewModel

<div class="container mt-5">
	<h1 class="display-5 fw-semibold">Editar usuário</h1>
	<hr />

	<form asp-controller="UserManagement" asp-action="EditUser" method="post">
		<div class="row">
			<input type="hidden" asp-for="@Model.UserId" asp-value="@Model.UserId" />
			<div class="col-8 col-lg-5">
				<label asp-for="@Model.UserName">Nome de usuário:</label>
				<input asp-for="@Model.UserName" class="form-control" value="@Model.UserName" placeholder="Ex: João Paulo" />
				<span asp-validation-for="@Model.UserName" class="text-danger"></span>
			</div>
			<div class="col-8 col-lg-5">
				<label asp-for="@Model.Email">Email:</label>
				<input asp-for="@Model.Email" class="form-control" value="@Model.Email" placeholder="Ex: João@gmail.com" />
				<span asp-validation-for="@Model.Email" class="text-danger"></span>
			</div>
		</div>
		
		<div class="form-check mt-3 mb-1">
			<input type="checkbox" id="changePasswordCheckbox" class="form-check-input" onchange="enableInput()" />
			<label for="changePasswordCheckbox" class="form-check-label fw-semibold">Alterar senha</label>
		</div>
		
		<div id="changePasswordBox" class="row">
			<div class="col-8 col-lg-5">
				<label>Nova senha:</label>
				<input id="newPasswordInput" type="password" asp-for="@Model.NewPassword" class="form-control" disabled />
				<span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
			</div>
			<div class="col-8 col-lg-5">
				<label>Confirmar nova senha:</label>
				<input type="password" id="confirmNewPasswordInput" asp-for="@Model.ConfirmNewPassword" class="form-control" disabled/>
				<span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
			</div>
		</div>
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<button type="submit" class="btn btn-success mt-3">Salvar</button>
		
	</form>
</div>
<script>
	function enableInput(){
		var check = document.getElementById("changePasswordCheckbox").checked;
		document.getElementById("newPasswordInput").disabled = !check;
		document.getElementById("confirmNewPasswordInput").disabled = !check;
	}
</script>
