@using Microsoft.AspNetCore.Identity
@model ReflectionIT.Mvc.Paging.PagingList<IdentityUser>

@section Styles {
	<link rel="stylesheet" href="~/css/components/delete-box-confirmation.css" />
	<link rel="stylesheet" href="~/css/components/pagination.css" />
}

<div class="container">
	<h1 class="mt-4">Gerenciar usuários</h1>
	<hr />
	<form method="get" class="d-flex mt-2">
		<div class="row col-12">
			<div class="col-8">
				<input name="filter" class="form-control" placeholder="Informe nome ou email do usuário" value="@Model.RouteValue["Filter"]" />
			</div>
			<div class="col-4">
				<button type="submit" class="btn btn-info">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Procurar
				</button>
			</div>
		</div>
	</form>
	<hr />

	<div class="d-flex justify-content-end mt-2">
		<vc:pager paging-list="@Model" class="pagination justify-content-center"></vc:pager>
	</div>

	<div class="col-10 m-auto mt-5">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nome de usuário</th>
					<th scope="col">Email</th>
					<th scope="col">Operações</th>
				</tr>
			</thead>
			<tbody>
				@{
					int i = 1;
					foreach (var user in Model)
					{
						<tr>
							<th scope="row">@i</th>
							<td>@user.UserName</td>
							<td>@user.Email</td>
							<td>
								<a asp-area="SuperAdmin" asp-controller="UserManagement" asp-action="EditUser" asp-route-email="@user.Email">Editar</a>
								||
								<a href="#" class="text-danger" onclick="openConfirmBox('@user.Email')">Excluir</a>
							</td>
						</tr>
						i++;
					}
				}
			</tbody>
		</table>

		<div id="customConfirmBox" class="custom-modal-overlay">
			<div class="custom-modal-box">
				<form asp-area="SuperAdmin" asp-controller="UserManagement" asp-action="DeleteUser" class="" method="post">
					<h2>Confirmar Exclusão</h2>
					<p class="mb-0">Tem certeza que deseja deletar esse usuário?</p>
					<p class="text-danger fw-semibold mt-0">Essa ação não pode ser desfeita.</p>
					<input type="hidden" name="email" id="deleteEmail" />
					<div class="custom-modal-buttons">
						<button type="button" onclick="closeConfirmBox()" class="btn btn-secondary">Cancelar</button>
						<button type="submit" class="btn btn-danger">Sim, Deletar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	function openConfirmBox(userEmail) {
		document.getElementById("deleteEmail").value = userEmail;
		document.getElementById("customConfirmBox").style.display = "flex";
	}

	function closeConfirmBox() {
		document.getElementById("customConfirmBox").style.display = "none";
	}
</script>