@model Car;

@section Styles {
	<link rel="stylesheet" href="~/css/public/car-details-page.css"/>
}

<div class="container car-details pt-2">
	<div id="carousel" class="carousel slide">
		@{
			int slide = 0;
		}

		<div class="carousel-indicators">
			@foreach (var img in Model.Images)
			{
				<button type="button" data-bs-target="#carousel" data-bs-slide-to="@slide"
						class="@(slide == 0 ? "active" : "")" aria-current="true" aria-label="Slide @(slide + 1)">
				</button>
				slide++;
			}
		</div>

		<div class="carousel-inner">
			@{
				slide = 0;
			}
			@foreach (var img in Model.Images)
			{
				<div class="carousel-item @(slide == 0 ? "active" : "")">
					<img src="@img.ImgPath" class="d-block w-100" alt="...">
				</div>
				slide++;
			}
		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>

	</div>

	<div class="row my-1 py-3 px-5">
		<h1 class="display-6 mb-4">@Model.Brand @Model.Model</h1>
		<hr />

		<h4>Especificações</h4>
		<div class="row">

			<div class="col-12 col-lg-4">
				<ul class="mb-0">
					<li>
						<strong>Ano: </strong>@Model.ManufacturingYear/@Model.ModelYear
					</li>
					<li>
						<strong>Carroceria: </strong>@Model.BodyStyle
					</li>
					<li>
						<strong>Potência: </strong>@Model.Power cv
					</li>
					<li>
						<strong>Cilindrada: </strong>@Model.Displacement
					</li>
				</ul>
			</div>

			<div class="col-12 col-lg-4">
				<ul class="mt-0 mb-0">
					<li>
						<strong>Válvulas: </strong>@Model.Valves
					</li>
					<li>
						<strong>Cilindros: </strong>@Model.Cylinders
					</li>
					<li>
						<strong>Configuração dos Cilindros: </strong>@Model.CylinderConfiguration
					</li>
					<li>
						<strong>Posição do motor: </strong>@Model.EnginePosition
					</li>
				</ul>
			</div>

			<div class="col-12 col-lg-4">
				<ul class="mt-0">
					<li>
						<strong>Tração: </strong>@Model.Drivetrain
					</li>
					<li>
						<strong>Velocidade máxima: </strong>@Model.TopSpeed km/h
					</li>
					<li>
						<strong>Portas: </strong>@Model.Doors
					</li>
					<li>
						<strong>Preço: </strong>R$@Model.Price.ToString("N2")
					</li>
				</ul>
			</div>
		</div>

		<hr />
		<div class="car-description mb-3">
			@Html.Raw(Model.FullDescription)
		</div>

		<hr />

		<h4 class="mb-3">Vídeo do carro</h4>

		<iframe class="car-video" src="@Model.VideoLink" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
