@model ReflectionIT.Mvc.Paging.PagingList<CarQuery.Models.Car>


@section Styles {
	<link rel="stylesheet" href="~/css/public/list-cars.css" />
	<link rel="stylesheet" href="~/css/components/pagination.css" />
}

<div class="container">
	<div class="d-flex justify-content-end mt-4">
		<vc:pager paging-list="@Model" class="pagination justify-content-center"></vc:pager>
	</div>

	<h3>Resultados</h3>
	<hr />

	<div class="d-flex row list-cars-box">
		@foreach (var car in Model)
		{
			<a class="car-card col-5 col-lg-2 card-link px-0 border" asp-controller="Car" asp-action="CarDetailsPage" asp-route-id="@car.CarId">
				<div class="car-card-img">
					<img class="fluid" src="@(car.Images.Count > 0 ? car.Images[0].ImgPath : "")" />
				</div>
				<div class="car-card-text mt-1">
					<strong>@car.Brand @car.Model</strong>
					<br />
					<strong>Ano: </strong>@car.ModelYear
					<br />
					<strong>Potência: </strong>@car.Power cv

				</div>
			</a>
		}
	</div>
</div>

