@model Car

@section Styles {
	<link rel="stylesheet" href="~/css/components/delete-box-confirmation.css" />
	<link rel="stylesheet" href="~/css/components/image-upload-widget.css" />
}

<div class="container mt-5">
	<h1 class="display-5 fw-semibold">Editar carro</h1>
	<hr />

	<form asp-action="Edit" method="post" class="form-group" enctype="multipart/form-data">
		<div class="row">
			<input type="hidden" asp-for="CarId" />
			<div class="col-4 mt-3">
				<label asp-for="Brand">Marca do carro:</label>
				<input asp-for="Brand" class="form-control" value="@Model.Brand" placeholder="Ex: Chevrolet" />
				<span asp-validation-for="Brand" class="text-danger"></span>
			</div>

			<div class="col-4 mt-3">
				<label asp-for="Model">Modelo:</label>
				<input asp-for="Model" class="form-control" value="@Model.Model" placeholder="Ex: Corsa" />
				<span asp-validation-for="Model" class="text-danger"></span>
			</div>

			<div class="col-4 mt-3">
				<label asp-for="BodyStyle">Carroceria:</label>
				<select asp-for="BodyStyle" class="form-select" value="@Model.BodyStyle">
					<option value="Sedã">Sedã</option>
					<option value="Hacth">Hatch</option>
					<option value="SUV">SUV</option>
					<option value="Coupé">Coupé</option>
					<option value="Conversível">Conversível</option>
					<option value="Perua (Wagon)">Perua (Wagon)</option>
					<option value="Picape">Picape</option>
				</select>
				<span asp-validation-for="BodyStyle" class="text-danger"></span>
			</div>

			<div class="col-3 mt-3">
				<label asp-for="Doors">Portas:</label>
				<input asp-for="Doors" class="form-control" value="@Model.Doors" placeholder="Ex: 4" />
				<span asp-validation-for="Doors" class="text-danger"></span>
			</div>

			<div class="col-4 col-lg-3 mt-3">
				<label asp-for="ManufacturingYear">Ano de fabricação:</label>
				<input asp-for="ManufacturingYear" class="form-control" value="@Model.ManufacturingYear" id="manufacturingYear" min="1886" placeholder="1886 em diante" />
				<span asp-validation-for="ManufacturingYear" class="text-danger"></span>
			</div>

			<div class="col-4 col-lg-3 mt-3">
				<label asp-for="ModelYear">Ano do modelo:</label>
				<input asp-for="ModelYear" class="form-control" value="@Model.ModelYear" id="modelYear" min="1886" placeholder="1886 em diante" />
				<span asp-validation-for="ModelYear" class="text-danger"></span>
			</div>

			<div class="col-3 mt-3">
				<label asp-for="Power">Potência (CV):</label>
				<input asp-for="Power" class="form-control" value="@Model.Power" placeholder="Ex: 200" />
				<span asp-validation-for="Power" class="text-danger"></span>
			</div>

			<div class="col-3 col-lg-2 mt-3">
				<label asp-for="Displacement">Cilindrada (L):</label>
				<input asp-for="Displacement" class="form-control" value="@Model.Displacement" placeholder="Ex: 2.0" />
				<span asp-validation-for="Displacement" class="text-danger"></span>
			</div>

			<div class="col-5 col-lg-2 mt-3">
				<label asp-for="TopSpeed">Velocidade máxima (Km/h):</label>
				<input asp-for="TopSpeed" class="form-control" value="@Model.TopSpeed" placeholder="Ex: 220" />
				<span asp-validation-for="TopSpeed" class="text-danger"></span>
			</div>

			<div class="col-4 col-lg-2 mt-3">
				<label asp-for="FuelType">Combustível:</label>
				<select asp-for="FuelType" class="form-select" value="@Model.FuelType">
					<option value="Gasolina">Gasolina</option>
					<option value="Etanol">Etanol</option>
					<option value="Flex">Flex</option>
					<option value="Diesel">Diesel</option>
					<option value="Gás natural (CNG)">Gás natural (CNG)</option>
					<option value="Elétrico">Elétrico</option>
					<option value="Híbrido">Híbrido</option>
					<option value="Hidrogênio">Hidrogênio</option>
				</select>
				<span asp-validation-for="FuelType" class="text-danger"></span>
			</div>

			<div class="col-3 col-lg-2 mt-3">
				<label asp-for="Valves">Válvulas:</label>
				<input asp-for="Valves" class="form-control" value="@Model.Valves" placeholder="Ex: 8" />
				<span asp-validation-for="Valves" class="text-danger"></span>
			</div>

			<div class="col-4 col-lg-2 mt-3">
				<label asp-for="Cylinders">Cilindros:</label>
				<input asp-for="Cylinders" class="form-control" value="@Model.Cylinders" placeholder="Ex: 8" />
				<span asp-validation-for="Cylinders" class="text-danger"></span>
			</div>

			<div class="col-5 col-lg-2 mt-3">
				<label asp-for="CylinderConfiguration">Configuração dos cilindros:</label>
				<input asp-for="CylinderConfiguration" class="form-control" value="@Model.CylinderConfiguration" placeholder="Ex: V" />
				<span asp-validation-for="CylinderConfiguration" class="text-danger"></span>
			</div>

			<div class="col-5 col-lg-3 mt-3">
				<label asp-for="Aspiration">Aspiração:</label>
				<select asp-for="Aspiration" class="form-select" value="@Model.Aspiration">
					<option value="Aspirado Natural (NA)">Aspirado Natural (NA)</option>
					<option value="Turbo">Turbo</option>
					<option value="Turbo Intercooler">Turbo Intercooler</option>
					<option value="Supercharged">Supercharged</option>
					<option value="Supercharged Intercooler">Supercharged Intercooler</option>
					<option value="-">-</option>
				</select>
				<span asp-validation-for="Aspiration" class="text-danger"></span>
			</div>

			<div class="col-4 col-lg-3 mt-3">
				<label asp-for="Drivetrain">Tração:</label>
				<select asp-for="Drivetrain" class="form-select" value="@Model.Drivetrain">
					<option value="Dianteira (FWD)">Dianteira (FWD)</option>
					<option value="Traseira (RWD)">Traseira (RWD)</option>
					<option value="4x4 (4WD)">4x4 (4WD)</option>
					<option value="Integral (AWD)">Integral (AWD)</option>
					<option value="Integral sob demanda (AWD on-demand)">Integral sob demanda (AWD on-demand)</option>
				</select>
				<span asp-validation-for="Drivetrain" class="text-danger"></span>
			</div>

			<div class="col-4 col-lg-3 mt-3">
				<label asp-for="EnginePosition">Posição do motor:</label>
				<select asp-for="EnginePosition" class="form-select" value="@Model.EnginePosition">
					<option value="Dianteiro">Dianteiro</option>
					<option value="Central">Central</option>
					<option value="Traseiro">Traseiro</option>
				</select>
				<span asp-validation-for="EnginePosition" class="text-danger"></span>
			</div>
			<div class="col-4 col-lg-3 mt-3">
				<label asp-for="TransmissionType">Transmissão:</label>
				<input asp-for="TransmissionType" class="form-control" value="@Model.TransmissionType" placeholder="Ex: Manual de 6 marchas" />
				<span asp-validation-for="TransmissionType" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group mt-3">
			<label asp-for="Price">Preço (R$):</label>
			<input class="form-control" value="@Model.Price" id="currencyPriceInput" placeholder="Ex: R$40.000,00" />
			<input asp-for="Price" type="hidden" class="form-control" value="@Model.Price" id="numberPriceInput" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>

		<div class="form-group mt-3">
			<label asp-for="ShortDescription">Descrição curta:</label>
			<textarea asp-for="ShortDescription" class="form-control" value="@Model.ShortDescription" placeholder="Essa descrição será exibida nos slides"></textarea>
			<span asp-validation-for="ShortDescription" class="text-danger"></span>
		</div>

		<div class="form-group mt-3">
			<label asp-for="FullDescription">Descrição completa:</label>
			<textarea asp-for="FullDescription" class="form-control" value="@Model.FullDescription" placeholder="Essa descrição será exibida na página de detalhes do carro"></textarea>
			<span asp-validation-for="FullDescription" class="text-danger"></span>
		</div>

		<h5 class="mt-3">Imagens atuais:</h5>
		<p>Selecione as imagens que quer deletar</p>

		<div class="preview">
			@foreach (var img in Model.Images)
			{
				<div class="image-container">
					<input type="checkbox" name="selectedImages" value="@img.ImageId" onchange="updateValues()" />
					<img src="@img.ImgPath" class="image-preview" />
				</div>
			}
		<input class="form-control" type="hidden" name="imgIdsDelete" id="imgIdsToDelete" placeholder="Exemplo: 1,4,5" />
		</div>

		<div class="form-group mt-3">

			<h5>Adicionar imagens:</h5>
			@await Html.PartialAsync("_ImageUploadWidget")
			<input type="hidden" asp-for="Images" />
			<span asp-validation-for="Images" class="text-danger"></span>
		</div>

		<div class="form-group mt-3">
			<label asp-for="VideoLink">Video link:</label>
			<input asp-for="VideoLink" class="form-control" value="@Model.VideoLink" placeholder="Link do vídeo sobre o carro. Ex: https://www.youtube.com/embed/....." />
			<span asp-validation-for="VideoLink" class="text-danger"></span>
		</div>

		<div class="d-flex gap-3 mt-4">
			<a class="btn btn-danger d-inline-block" onclick="openConfirmBox('@Model.CarId')">Excluir</a>
			<a class="btn btn-primary ms-auto" asp-area="Admin" asp-controller="AdminCar" asp-action="ListCars">Cancelar</a>
			<input type="submit" class="btn btn-success" value="Salvar" />
		</div>
	</form>

	@await Html.PartialAsync("_DeleteBoxConfirmation", new
		{
			Controller = "AdminCar",
			Action = "Delete",
			Message = "Tem certeza que deseja deletar este carro?",
			WarningMessage = "Os slides que usam as imagens deste veículo também serão deletados. Essa ação não pode ser desfeita.",
			Name = "id"
		})

</div>

<script src="~/js/format-price.js"></script>
<script>
	const manufacturingYear = document.getElementById("manufacturingYear");
	const modelYear = document.getElementById("modelYear");
	const currencyPriceInput = document.getElementById("currencyPriceInput");
	const numberPriceInput = document.getElementById("numberPriceInput");

	//necessário para usar image-upload script
	const imagesInputName = "newImages";

	document.addEventListener("DOMContentLoaded", function(){
		//setting the max year to the year inputs
		manufacturingYear.setAttribute('max', new Date().getFullYear());
		modelYear.setAttribute('max', new Date().getFullYear());

		//função do script /js/format-price.js
		formatPriceInputs(currencyPriceInput, numberPriceInput);
	});

	//force input validation
	manufacturingYear.addEventListener("blur", function(){
		this.reportValidity();
	});
	modelYear.addEventListener("blur", function(){
		this.reportValidity();
	});

	function updateValues(){
		let checkboxes = document.querySelectorAll('input[name="selectedImages"]:checked');
		let values = Array.from(checkboxes).map(cb => cb.value).join(",");
		document.getElementById("imgIdsToDelete").value = values;
	}
</script>
<script src="~/js/components/image-upload-widget.js"></script>
<script src="~/js/components/delete-box-confirmation.js"></script>
