@model Car

@section Styles {
	<style>
		.custom-modal-overlay {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			justify-content: center;
			align-items: center;
		}

		.custom-modal-box {
			display: block;
			background-color: black;
			color: white;
			padding: 20px;
			border-radius: 10px;
			text-align: center;
			width: 320px;
			box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
		}

		.custom-modal-buttons {
			margin-top: 15px;
			display: flex;
			justify-content: space-between;
		}
	</style>
}

<div class="container mt-5">
	<h1 class="display-5 fw-semibold">Editar carro</h1>
	<hr />

	<form asp-action="Edit" method="post" class="form-group" enctype="multipart/form-data">
		<div class="row">
			<input type="hidden" asp-for="CarId" />
			<div class="col-4 mt-3">
				<label asp-for="Brand">Marca do carro:</label>
				<input asp-for="Brand" class="form-control" value="@Model.Brand" placeholder="Ex: Chevrolet" />
				<span asp-validation-for="Brand" class="text-danger"></span>
			</div>

			<div class="col-4 mt-3">
				<label asp-for="Model">Modelo:</label>
				<input asp-for="Model" class="form-control" value="@Model.Model" placeholder="Ex: Corsa" />
				<span asp-validation-for="Model" class="text-danger"></span>
			</div>

			<div class="col-4 mt-3">
				<label asp-for="BodyStyle">Carroceria:</label>
				<select asp-for="BodyStyle" class="form-select" value="@Model.BodyStyle">
					<option value="Sedã">Sedã</option>
					<option value="Hacth">Hatch</option>
					<option value="SUV">SUV</option>
					<option value="Coupé">Coupé</option>
					<option value="Conversível">Conversível</option>
					<option value="Perua (Wagon)">Perua (Wagon)</option>
					<option value="Picape">Picape</option>
				</select>
				<span asp-validation-for="BodyStyle" class="text-danger"></span>
			</div>

			<div class="col-3 mt-3">
				<label asp-for="Doors">Portas:</label>
				<input asp-for="Doors" class="form-control" value="@Model.Doors" placeholder="Ex: 4" />
				<span asp-validation-for="Doors" class="text-danger"></span>
			</div>

			<div class="col-4 col-lg-3 mt-3">
				<label asp-for="ManufacturingYear">Ano de fabricação:</label>
				<input asp-for="ManufacturingYear" class="form-control" value="@Model.ManufacturingYear" id="manufacturingYear" min="1886" placeholder="1886 em diante" />
				<span asp-validation-for="ManufacturingYear" class="text-danger"></span>
			</div>

			<div class="col-4 col-lg-3 mt-3">
				<label asp-for="ModelYear">Ano do modelo:</label>
				<input asp-for="ModelYear" class="form-control" value="@Model.ModelYear" id="modelYear" min="1886" placeholder="1886 em diante" />
				<span asp-validation-for="ModelYear" class="text-danger"></span>
			</div>

			<div class="col-3 mt-3">
				<label asp-for="Power">Potência (CV):</label>
				<input asp-for="Power" class="form-control" value="@Model.Power" placeholder="Ex: 200" />
				<span asp-validation-for="Power" class="text-danger"></span>
			</div>

			<div class="col-3 col-lg-2 mt-3">
				<label asp-for="Displacement">Cilindrada (L):</label>
				<input asp-for="Displacement" class="form-control" value="@Model.Displacement" placeholder="Ex: 2.0" />
				<span asp-validation-for="Displacement" class="text-danger"></span>
			</div>

			<div class="col-5 col-lg-2 mt-3">
				<label asp-for="TopSpeed">Velocidade máxima (Km/h):</label>
				<input asp-for="TopSpeed" class="form-control" value="@Model.TopSpeed" placeholder="Ex: 220" />
				<span asp-validation-for="TopSpeed" class="text-danger"></span>
			</div>

			<div class="col-4 col-lg-2 mt-3">
				<label asp-for="FuelType">Combustível:</label>
				<select asp-for="FuelType" class="form-select" value="@Model.FuelType">
					<option value="Gasolina">Gasolina</option>
					<option value="Etanol">Etanol</option>
					<option value="Flex">Flex</option>
					<option value="Diesel">Diesel</option>
					<option value="Gás natural (CNG)">Gás natural (CNG)</option>
					<option value="Elétrico">Elétrico</option>
					<option value="Híbrido">Híbrido</option>
					<option value="Hidrogênio">Hidrogênio</option>
				</select>
				<span asp-validation-for="FuelType" class="text-danger"></span>
			</div>

			<div class="col-3 col-lg-2 mt-3">
				<label asp-for="Valves">Válvulas:</label>
				<input asp-for="Valves" class="form-control" value="@Model.Valves" placeholder="Ex: 8" />
				<span asp-validation-for="Valves" class="text-danger"></span>
			</div>

			<div class="col-4 col-lg-2 mt-3">
				<label asp-for="Cylinders">Cilindros:</label>
				<input asp-for="Cylinders" class="form-control" value="@Model.Cylinders" placeholder="Ex: 8" />
				<span asp-validation-for="Cylinders" class="text-danger"></span>
			</div>

			<div class="col-5 col-lg-2 mt-3">
				<label asp-for="CylinderConfiguration">Configuração dos cilindros:</label>
				<input asp-for="CylinderConfiguration" class="form-control" value="@Model.CylinderConfiguration" placeholder="Ex: V" />
				<span asp-validation-for="CylinderConfiguration" class="text-danger"></span>
			</div>

			<div class="col-5 col-lg-3 mt-3">
				<label asp-for="Aspiration">Aspiração:</label>
				<select asp-for="Aspiration" class="form-select" value="@Model.Aspiration">
					<option value="Aspirado Natural (NA)">Aspirado Natural (NA)</option>
					<option value="Turbo">Turbo</option>
					<option value="Turbo Intercooler">Turbo Intercooler</option>
					<option value="Supercharged">Supercharged</option>
					<option value="Supercharged Intercooler">Supercharged Intercooler</option>
					<option value="-">-</option>
				</select>
				<span asp-validation-for="Aspiration" class="text-danger"></span>
			</div>

			<div class="col-4 col-lg-3 mt-3">
				<label asp-for="Drivetrain">Tração:</label>
				<select asp-for="Drivetrain" class="form-select" value="@Model.Drivetrain">
					<option value="Dianteira (FWD)">Dianteira (FWD)</option>
					<option value="Traseira (RWD)">Traseira (RWD)</option>
					<option value="4x4 (4WD)">4x4 (4WD)</option>
					<option value="Integral (AWD)">Integral (AWD)</option>
					<option value="Integral sob demanda (AWD on-demand)">Integral sob demanda (AWD on-demand)</option>
				</select>
				<span asp-validation-for="Drivetrain" class="text-danger"></span>
			</div>

			<div class="col-4 col-lg-3 mt-3">
				<label asp-for="EnginePosition">Posição do motor:</label>
				<select asp-for="EnginePosition" class="form-select" value="@Model.EnginePosition">
					<option value="Dianteiro">Dianteiro</option>
					<option value="Central">Central</option>
					<option value="Traseiro">Traseiro</option>
				</select>
				<span asp-validation-for="EnginePosition" class="text-danger"></span>
			</div>
			<div class="col-4 col-lg-3 mt-3">
				<label asp-for="TransmissionType">Transmissão:</label>
				<input asp-for="TransmissionType" class="form-control" value="@Model.TransmissionType" placeholder="Ex: Manual de 6 marchas" />
				<span asp-validation-for="TransmissionType" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group mt-3">
			<label asp-for="Price">Preço (R$):</label>
			<input class="form-control" value="@Model.Price" id="formatedPriceInput" placeholder="Ex: R$40.000,00" />
			<input asp-for="Price" type="hidden" class="form-control" value="@Model.Price" id="realPriceInput" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>

		<div class="form-group mt-3">
			<label asp-for="ShortDescription">Descrição curta:</label>
			<textarea asp-for="ShortDescription" class="form-control" value="@Model.ShortDescription" placeholder="Essa descrição será exibida nos slides"></textarea>
			<span asp-validation-for="ShortDescription" class="text-danger"></span>
		</div>

		<div class="form-group mt-3">
			<label asp-for="FullDescription">Descrição completa:</label>
			<textarea asp-for="FullDescription" class="form-control" value="@Model.FullDescription" placeholder="Essa descrição será exibida na página de detalhes do carro"></textarea>
			<span asp-validation-for="FullDescription" class="text-danger"></span>
		</div>

		<div class="form-group mt-3">
			<label asp-for="Images">Imagens:</label>
			<input asp-for="Images" type="file" class="form-control" multiple />
			<span asp-validation-for="Images" class="text-danger"></span>
		</div>

		<div class="form-group mt-3">
			<label asp-for="VideoLink">Video link:</label>
			<input asp-for="VideoLink" class="form-control" value="@Model.VideoLink" placeholder="Link do vídeo sobre o carro. Ex: https://www.youtube.com/embed/....." />
			<span asp-validation-for="VideoLink" class="text-danger"></span>
		</div>

		<h4 class="mt-3">Selecione as imagens que deseja deletar:</h4>

		<div class="row">

			@foreach (var img in Model.Images)
			{
				<div class="col-5 col-lg-3 mx-3 my-4">
					<input type="checkbox" name="selectedImages" value="@img.ImageId" onchange="updateValues()" />
					<img src="@img.ImgPath" class="img-fluid" />
				</div>
			}

		</div>
		<input class="form-control" type="hidden" name="imgIdsDelete" id="imgIdsToDelete" placeholder="Exemplo: 1,4,5" />

		<div class="d-flex gap-3 mt-4">
			<a class="btn btn-danger d-inline-block" onclick="openConfirmBox('@Model.CarId')">Excluir</a>
			<a class="btn btn-primary ms-auto" asp-area="Admin" asp-controller="AdminCar" asp-action="ListCars">Cancelar</a>
			<input type="submit" class="btn btn-success" value="Salvar" />
		</div>
	</form>

	<div id="customConfirmBox" class="custom-modal-overlay">
		<div class="custom-modal-box">
			<form asp-controller="AdminCar" asp-action="Delete" class="" method="post">
				<h2>Confirmar Exclusão</h2>
				<p>Tem certeza que deseja deletar este item? Essa ação não pode ser desfeita.</p>
				<input type="hidden" name="id" id="deleteId" />
				<div class="custom-modal-buttons">
					<button type="button" onclick="closeConfirmBox()" class="btn btn-secondary">Cancelar</button>
					<button type="submit" class="btn btn-danger">Sim, Deletar</button>
				</div>
			</form>
		</div>
	</div>

</div>

<script>
	const manufacturingYear = document.getElementById("manufacturingYear");
	const modelYear = document.getElementById("modelYear");

	const formatedPriceInput = document.getElementById("formatedPriceInput");
	const realPriceInput = document.getElementById("realPriceInput");

	let carIdToDelete = null;

	document.addEventListener("DOMContentLoaded", function(){
		//setting the max year to the year inputs
		manufacturingYear.setAttribute('max', new Date().getFullYear());
		modelYear.setAttribute('max', new Date().getFullYear());
	});

	//force input validation
	manufacturingYear.addEventListener("blur", function(){
		this.reportValidity();
	});
	modelYear.addEventListener("blur", function(){
		this.reportValidity();
	});

	formatedPriceInput.addEventListener('focus', function () {
		const currentValue = this.value;

		const value = currentValue
			.replace(/\s/g, '')
			.replace('R$', '')
			.replace(/\./g, '')
			.replace(',', '.');

		this.value = value;
	});

	formatedPriceInput.addEventListener("blur", function (){
		let value = this.value.replace(',', '.');
		value = value.replace(/[^0-9.]/g, '');

		let numericValue = parseFloat(value);

		if(isNaN(numericValue)){
			numericValue = 0;
		}

		this.value = numericValue.toLocaleString('pt-br', {
			style: 'currency',
			currency: 'BRL'
		});

		realPriceInput.value = numericValue;
	});

	function updateValues(){
		let checkboxes = document.querySelectorAll('input[name="selectedImages"]:checked');
		let values = Array.from(checkboxes).map(cb => cb.value).join(",");
		document.getElementById("imgIdsToDelete").value = values;
	}

	function openConfirmBox(carId) {
		carIdToDelete = carId;
		document.getElementById("deleteId").value = carId;
		document.getElementById("customConfirmBox").style.display = "flex";
	}

	function closeConfirmBox() {
		document.getElementById("customConfirmBox").style.display = "none";
	}
</script>
